.all-slider{
    margin: 0;
    padding: 0;
}

/* Pour quoi faire */
a{
    text-decoration: none;
}

.box{
    width: 350px;
    border-radius: 10px;
    overflow: hidden;

}

.slider-img{
    position: relative;
}
.slider-img img{
    width: 100%;
    height: 550px;
    object-fit: cover;
    box-sizing: border-box;
}

.detail-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.type{
    display: flex;
    flex-direction: column;
}

.type a{
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}

.price{
    color: #333333;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 160, 220, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-btn{
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.buy-btn:hover{
    color: #FFFFFF;
    background-color: #f9004d;
    transition: all ease 0.3s;
}

.overlay{
    visibility: hidden;
}

.slider-img:hover .overlay{
    visibility: visible;
    animation: fade 0.5s;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}